name: .NET Core Desktop

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet restore MisLukas.sln

    - name: Build
      run: dotnet build MisLukas.sln -c ${{ matrix.configuration }} --no-restore

    - name: Test
      run: dotnet test MisLukas.Test/MisLukas.Test.csproj -c ${{ matrix.configuration }} --no-build
